@font-face {
	font-family: 'Adobe Hebrew';
	src: local('Adobe Hebrew'),
	     url('../fonts/AdobeHebrewRegular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
